.continer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.submitButton{
    margin-top: 16px;
}

.existingUser{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}